*{margin:0;padding:0;}
.clearfix::after{
	content: '';
	display: block;
	clear:both;
	width: 0;
	height: 0;
	overflow: hidden;
	zoom: 1;
}
body{
	font-family:16px/1.8 "Microsoft Yahei",verdana;
}
.section{
	text-align: center;
	overflow: hidden;
}
.section1{
	background:url(../images/hero_sunset_large_2x.jpg) center no-repeat;
	background-size: cover;
}
.section1 h2{
	color:white;
	font-size: 50px;
	margin-top: 5%;
	opacity: .8;
}
.section1 p{
	color:white;
	font-size: 18px;
	width: 60%;
	line-height: 40px;
	margin:3% auto;
	opacity: 0.7;
	margin-top:800px;
}
.stepnow{
	font-size: 14px;
	color:orange;
}
.section2{
	background:url(../images/technology_hero_large_2x.jpg) bottom no-repeat;
	background-size: 100%;
	background-color: rgb(242,242,242);
}
.section2 h2{
	font-size: 50px;
	color:black;
	margin-top:3%;
	margin-bottom: 2%;
	font-weight:normal;
}
.section2 a.stepnow{
	color:skyblue;
}
.section3{
	background:url(../images/timekeeping_hero_large_2x.jpg) center 300px no-repeat;
	background-size: 50%;
}
.section3 h2{
	font-weight:normal;
	font-size: 40px;
	opacity: .8;
	margin-top: 3%;
	margin-left:-100%;
}
.section3 p{
	width: 60%;
	font-size: 16px;
	margin:30px auto;
	opacity: .8;
	transform: translateX(100%);
}
.section4 ul{
	overflow: hidden;
	padding:0 4%;
	list-style: none;
}
.section4 ul li{
	float: left;
	width: 30%;
	text-align: center;
	background-color: rgb(242,242,242);
	margin-left: 2%;
	padding:30px 20px ;
	box-sizing: border-box;
}
.section4 ul li div img{
	position: relative;
}
.aimg{
	width: 40%;
}
.section4 h2{
	margin-top: 2%;
	margin-bottom: 2%;
	font-weight:normal;
	font-size: 40px;
	opacity: .7;

}
.intro p{
	font-size: 18px;
	opacity: .7;
	margin-top: 10px;
	line-height: 30px;
}
.intro a{
	color:skyblue;
}
.watch img{
	height: 300px;
}