<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>timyo</title>

    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../src/css/index.css">

    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <!-- page1 -->
    <div class="page1">
      <div class="container">
        <nav class="navbar navbar-default page1-nav">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed page1-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                <img src="../images/logo.png" alt="">
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">               
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Mission</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#"><img src="../images/FR-flag-icon.png" alt=""></a></li>
                <li><a href="#"><img src="../images/US-flag-icon.png" alt=""></a></li>          
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12 col-xs-7 text-center page1-left">
            <h4>It's about time:</h4>
            <h3>email that matters,<br>when it matters.</h3>
            <p>
              <a href="##">
                Watch the video <span class="glyphicon glyphicon-play-circle"></span>
              </a>
            </p>
          </div>
          <div class="col-md-5 col-sm-12 col-xs-5 page1-right">
            <div class="banner-wrap">
              <ul class="page1-slides">
                <li class="avtive-slide"><div><img src="../images/slide-1.png" alt=""></div></li>
                <li><div><img src="../images/slide-2.png" alt=""></div></li>
                <li><div><img src="../images/slide-3.png" alt=""></div></li>
                <li><div><img src="../images/slide-4.png" alt=""></div></li>
              </ul>
              <ul class="page1-tabs list-inline">
                <li class="active-tab"></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- page2 -->
    <div class="page2 text-center">
      <div class="container">
        <h3>Available now for iOS!</h3>
        <p class="page2-t1">Currently available for Gmail and Google Apps - more providers coming soon.</p>
        <div class="appstore">
          <img src="../images/download-timyo.png" alt="">
        </div>
        <div class="links">
          <form>
            <div class="form-group">
              <div class="link-box">
                <div class="dropdown country-dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="country"></i>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <p><i></i>United States <span class="text-muted">+1</span></p>
                    </li>
                    <li>
                      <p><i></i>France <span class="text-muted">+33</span></p>
                    </li>
                    <li>
                      <p><i></i>United Kingdom <span class="text-muted">+44</span></p>
                    </li>
                    <li>
                      <p><i></i>United Kingdom <span class="text-muted">+44</span></p>
                    </li>
                    <li>
                      <p><i></i>United Kingdom <span class="text-muted">+44</span></p>
                    </li>
                    <li>
                      <p><i></i>United Kingdom <span class="text-muted">+44</span></p>
                    </li>
                     <li>
                      <p><i></i>United Kingdom <span class="text-muted">+44</span></p>
                    </li>
                    <li>
                      <p><i></i>United Kingdom <span class="text-muted">+44</span></p>
                    </li>
                    <li>
                      <p><i></i>United Kingdom <span class="text-muted">+44</span></p>
                    </li>
                    <li>
                      <p><i></i>United Kingdom <span class="text-muted">+44</span></p>
                    </li>
                  </ul>
                </div>
                <input class="tele" type="text" name="" value="" placeholder="(201)555-5555">
                <button class="textmealink" type="submit">Text me a link</button>
              </div>
            </div>
          </form>
          <hr class="page2-hr">
        </div>
        <h4 class="txt-ifyou">
                If you are on Android or Windows Phone, we are working on versions for you!<br>
        Enter your email and choose your OS below to be notified.
        </h4>
        <div class="txt-email">
          <p>Your email address</p>
        </div>
        <h4 class="txt-ifyou mg-top-20">Choose your OS to submit.</h4>
        <ul class="list-inline android-imgs">
          <li>
            <a href="#"><img src="../images/android-icon.jpg" alt=""></a>
          </li>
          <li><a href="#"><img src="../images/windows-icon.jpg" alt=""></a></li>
        </ul>
      </div>
    </div>

    <!-- page3 -->
    <div class="page3">
      <div class="container">
        <h3>Wait!<br>You don’t need to answer every email as soon as it hits your inbox.</h3>
        <div class="page3-left">
          <img src="../images/iphone-on-table-small.png" alt="">
        </div>
        <div class="page3-right">
          <p>That's why we've reimagined your inbox and created Agenda View to let you know at a glance which emails are important and when you need to deal with them. With Timyo, you can communicate more meaningfully by sending and receiving emails with clear expectations that are already prioritized by time. 
          <br>
          <br>
          Now you can focus on the email that matters, when it matters.
          </p>
        </div>
      </div>
    </div>

    <!-- page4 -->
    <div class="page4">
      <div class="container">
        <h3>Focus on what matters today</h3>
        <h4>
          <a href="#">
            See how Timyo helps you
            <span class="glyphicon glyphicon-play-circle"></span>
          </a>
        </h4>
        <div class="row">
          <div class="col-md-5 col-sm-12 col-xs-5 page4-img">
            <img src="../images/focus-on-what-matters.jpg" alt="">
          </div>
          <div class="col-md-7 col-sm-12 col-xs-7 page4-right">
            <dl class="page4-txt">
              <dt style="color:skyblue">
                <img src="../images/blue-box.png" alt="">
                Manage important email by time &nbsp;
                <span class="glyphicon glyphicon-play-circle"></span>
              </dt>
              <dd>
                No need to clean out your inbox. Select only the emails that matter to you, assign a date and don't worry about the rest.
              </dd>
            </dl>
            <dl class="page4-txt">
              <dt style="color:#ffcc01;">
                <img src="../images/yellow-box.png" alt="">
                Receive email already prioritized by time &nbsp;
                <span class="glyphicon glyphicon-play-circle"></span>
              </dt>
              <dd>
               Timyo users send and receive emails that are already prioritized by time. Send email with clear expectations and receive better replies.
              </dd>
            </dl>
            <dl class="page4-txt">
              <dt style="color:#4cd964">
                <img src="../images/green-box.png" alt="">
                Oversee email through Agenda View &nbsp;
                <span class="glyphicon glyphicon-play-circle"></span>
              </dt>
              <dd>
                Stay organized at a glance! Use Agenda View to easily manage your time without leaving your inbox.
              </dd>
            </dl>
            <dl class="page4-txt">
              <dt style="color:#ff3b30">
                <img src="../images/red-box.png" alt="">
                Get reminders on pending replies &nbsp;
                <span class="glyphicon glyphicon-play-circle"></span>
              </dt>
              <dd>
                Because your email is sent with clear expectations, Reply Tracker lets you know when a reply is still pending or overdue.
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <!-- page9 -->
    <div class="page9">
      <div class="container">
        <div class="page9-img">
          <img src="../images/email-on-computer2.png" alt="">
        </div>
        <div class="page9-txt">
          <h3>Give the gift of<br>clear expectations</h3>
          <p>
            When recipients open your email, they will see immediately a clear, simple, and polite message letting them know when you would like them to respond. By giving the gift of clear expectations, you give them other gifts as well: peace of mind, increased productivity, and, ultimately, time.
            <br>
            <br>
            And it’s hard to think of a better gift than that.
          </p>
        </div>
      </div>
    </div>
    <!-- page5 -->
    <div class="page5">
      <div class="container">
        <h3 class="page5-title">Timyo works on your desktop as well</h3>
        <div class="row">
          <div class="col-md-4">
            <img src="../images/apple-mail-desktop-screen.png" alt="">
          </div>
          <div class="col-md-4">
            <img src="../images/gmail-desktop-screen.png" alt="">
          </div>
          <div class="col-md-4">
            <img src="../images/outlook-desktop-screen.png" alt="">
          </div>
        </div>
        <div>
          <img src="../images/chrome-store-btn3.png" alt="">
        </div>
      </div>
    </div>
    
    <!-- page6 -->
    <div class="page6">
      <div class="container">
        <h3 class="page6-title">We are on a mission</h3>
        <div class="row">
          <div class="col-md-4 page6-block">
              <img src="../images/clarity.png" alt="">
              <h2 style="color:#ffcc00">Clarity</h2>
              <p>Email remains the #1 tool today’s workforce uses to communicate. Unfortunately, it was not designed for the ‘always on’ expectations that have become the norm. Thanks to Timyo, users can now benefit from clear and proactive communication.</p>
          </div>
          <div class="col-md-4 page6-block">
            <img src="../images/productivity.png" alt="">
            <h2 style="color:#007aff">Productivity</h2>
            <p>By helping you stay focused on important emails when they matter to you, Timyo helps you cut through the clutter. And when the people you work with use Timyo too, your email will come already prioritized by due date.</p>
          </div>
          <div class="col-md-4 page6-block">
            <img src="../images/peace2.png" alt="">
            <h2 style="color:#4cd964">Peace</h2>
            <p>At Timyo, we believe it's time for email to make your life easier again. With email prioritized by time and features like Agenda View and Reply Tracker, Timyo takes the stress out of email and puts something much better in its place: peace.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- page7 -->
    <div class="page7">
      <div class="container">
        <h3>Upgrade to business class email</h3>
        <div class="row">
          <div class="col-md-5 col-sm-12 col-xs-5 page7-img">
            <img src="../images/iphone-register.png" alt="">
          </div>
          <div class="col-md-7 col-sm-12 col-xs-7 page7-right">
            <dl>
              <dt><img src="../images/red-box.png" alt="">Easy setup</dt>
              <dd>Enter your email account and password and voila! You've got Timyo.</dd>
            </dl>
            <dl>
              <dt><img src="../images/red-box.png" alt="">Existing account</dt>
              <dd>Timyo isn't another new email address to manage — it's a way to better manage your existing accounts.</dd>
            </dl>
            <dl>
              <dt><img src="../images/red-box.png" alt="">Free & Flexible</dt>
              <dd>You can switch back and forth between Timyo and your providers' apps whenever you want to (but we don't think you'll want to).</dd>
            </dl>
            <dl>
              <dt><img src="../images/red-box.png" alt="">Private & Secure</dt>
              <dd>Timyo never stores, processes, or transmits your data through third-party servers. Passwords are never stored on our servers.Download Timyo on The App Store</dd>
            </dl>
            <div class="page7-appStore-box">
              <img height="60" width="203" src="../images/download-timyo.png" alt="">
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <!-- foot -->
    <footer>
      <p class="patented">Timyo is a patented solution: US 20150007048A1</p>
      <ul class="list-inline foot-nav">
        <li>
          <a href="#">Privacy Policy</a>
        </li>
        <li>
          <a href="#">Security</a>
        </li>
        <li>
          <a href="#">Press Inquiries</a>
        </li>
        <li>
          <a href="#">About Us</a>
        </li>
      </ul>
      <p class="timyo-rights">©2015 Timyo. All rights reserved.</p>
    </footer>


    <!-- fixed -->
    <a class="foxed-app" href="#">
      <img  height="60" width="203" src="../images/download-timyo.png" alt="">
    </a>









    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../src/js/index.js"></script>
  </body>
</html>