
#page{
	width: 10.0rem;
}
#page header{
	padding: 0 0.604444rem;
	box-sizing: border-box;
	background-color: #ffffd5;
}
header h2{
	font-size: 0.497778rem;
	height: 1.173333rem;
	line-height: 1.173333rem;
	color: #e60012;
}
header h2 span{
	font-size: 0.311111rem;
}
header h2 .head-span-a{
	color: #5e5859;
}
header h2 .head-span-b{
	font-size: 0.373333rem
}
header h2 img{
	height: 0.311111rem;
	margin-left: 0.355556rem;
}
header ul{
	overflow: hidden;
}
header ul li{
	background-color: #fa3530;
	width: 4.222222rem;
	height: 1.733333rem;
	border-radius: 0.088889rem;
	margin:0 0.222222rem 0.222222rem 0;
	float: left;
	padding:0.222222rem 0.266667rem;
	box-sizing: border-box;
}
header ul li:nth-child(2n){
	margin-right: 0
}

.red-left{
	float: left;
}
.red-right{
	float: left;
	color: white;
	margin-left: 0.393333rem;
}
.red-right .red-top-txt{
	font-size: 0.366667rem;
}
.red-right .red-bottom-txt{
	font-size: 0.735556rem;
	margin-top: 0.15rem
}
.red-right .red-bottom-txt span{
	font-size: 0.366667rem
}
.red-left img{
	height: 1.191111rem
}
.red-mid-txt{
	font-size: 0.366667rem;
	line-height: 1.155556rem
}
.nogift{
	background:url(../images/mytreasure-18.jpg) 0 0 no-repeat;
	background-size: 100%; 
}

/*banner部分*/
.banner-bg{
	background-color: #f51829;
	position: relative;
}
.banner-wrap{
	height: 4.266667rem;
	margin:0 0.346667rem;
	overflow: hidden;
}
.banner-wrap h2{
	text-indent: 1em;
	font-size: 0.497778rem;
	color: white;
	height: 1.137778rem;
	line-height: 1.137778rem
}
.banner-wrap h2 span{
	font-size: 0.533333rem;
	color:yellow;

}
.banner{
	overflow: hidden;
	position: relative;
}
.banner-box{
	width: 4500px;
	overflow: hidden;
	position: relative;
}
.banner-box li{
	float: left;
	width: 3.102222rem;
}
.banner-box li img{
	width: 100%;
}
.banner-left{
	position: absolute;
	right: 0;
	display: block;
	width: 0.702222rem;
	height: 0.817778rem;
	top:50%;
	margin-top: -0.408889rem;
}
.banner-btn{
	position: absolute;
	bottom:0.142222rem;
	overflow: hidden;
	left: 45%;
}
.banner-btn li{
	width: 0.222222rem;
	height: 0.222222rem;
	background-color: #cdcbcb;
	border-radius: 50%;
	margin-left: 0.16rem;
	float: left;
}
.banner-btn .btn-active{
	background-color:#534c4c;
}

/*foot*/
.foot{
	background-color: #ffffd5;
	overflow:hidden;
}
.foot-top{
	margin:0.222222rem 0 0 0.506667rem;

}
.foot-top{
	width: 5.484444rem
}
.foot-bottom{
	margin:0.222222rem 0 0 0.711111rem;
}
.foot-bottom img{
	margin-bottom: 0.222222rem;
	width: 8.595556rem
}